body.container-spa4 h1,
body.container-spa4 h2,
body.container-spa4 h3,
body.container-spa4 h4,
body.container-spa4 h5,
body.container-spa4 h6,
body.container-spa4 p{
    margin: 0;
    padding: 0;
}
.icons8-filled.fiverr{
    background-image: url("../../icons/fiverr.png");
}
a,
li,
span,
button{
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
body.container-spa4 .btn-filled{
    box-shadow: 0px 0px 60px -13px rgb(232, 127, 234),inset 0px 0px 40px -20px rgb(232, 127, 234);
}
body.scroll-off{
    overflow-x: hidden;
    overflow-y: hidden;
    background-attachment: fixed;
    background-size: 20%;
    background-position: right;
}
body.container-spa4 .btn-filled::after,
body.container-spa4 .btn-regular p{
    font-family: var(--main-font);
}
body.container-spa4{
    --width-screen: 1024px;
    --main-font: 'MainFont', sans-serif;
    --second-font: 'SecondFont', sans-serif;
    --third-font: 'ThirdFont', sans-serif;
    --txt: rgb(219, 47, 222);
    --line-colr: rgba(255, 255, 255, 0.3);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    gap: 30px;
    background-color: #23113C;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url('../../img/bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
    /* transition: background 4s cubic-bezier(0.075, 0.82, 0.165, 1); */
}
body.container-spa4 .alert-message,
body.container-spa4 .alert-confirm{
    background-color: rgba(51, 51, 85, 0.4);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: none;
}
body.container-spa4 .alert-description p{
    font-size: 18px;
    font-family: var(--third-font);
}
::-webkit-scrollbar{
    --ratio-scrollbar: 0px;
    width: var(--ratio-scrollbar);
    height: var(--ratio-scrollbar);
    background-color: #433061;
}

::-webkit-scrollbar-thumb{
    border: 4px solid #433061;
    background: var(--main-gradient2-color);
    border-radius: var(--rounded3);
}

body.container-spa4.scroll-off{
    overflow-y: hidden;
}

body.container-spa4 header{
    height: 70px;
    width: 100%;
    position: absolute;
    display: grid;
    place-items: center;
    z-index: 1;
}
body.container-spa4 header .header-container{
    max-width: var(--width-screen);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body.container-spa4 section{
    max-width: var(--width-screen);
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
body.container-spa4 header.hide,
body.container-spa4 section.hide{
    opacity: 0;
    pointer-events: none;
}


body.container-spa4 .icons8-filled,
body.container-spa4 .icons8-regular{
    filter: brightness(1);
    --i8-ratio: 18px;
}
.box{
    color: white;
}
#section1{
    display: flex;
    padding-top: 50px;
    box-sizing: border-box;
    align-items: center;
}
#section1 .box1-1{
    padding-top: 60px;
    text-shadow: -2px 4px 9px rgba(0, 0, 0, 0.2);
}
#section1 .icons8-filled{
    filter: brightness(99);
    --i8-ratio: 24px;
}
#section1 h1{
    text-transform: uppercase;
    font-size: 62px;
    margin: 0;
    font-family: var(--third-font);
    color: white;
}
#section1 .iam{
    color: white;
}
#section1 .iam,
#section1 .work{
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-family: var(--third-font);
    white-space: break-spaces;
    font-size: 46px;
}
.glow{
    color: rgb(253, 119, 255);
    text-shadow: 0px 0px 8px var(--txt);
}
#section1 .detail{
    color: white;
    font-family: var(--third-font);
    font-size: 18px;
    margin: 30px 0;
}
.btn-filled.primbtn{
    --heg: 50px;
    padding: 0 30px;
}
.btn-regular.secbtn{
    --heg: 50px;
    padding: 0 30px;
    box-shadow: 0px 0px 20px -11px rgb(127, 175, 234);
}
.btn-regular.secbtn p{
    font-weight: 700;
    font-family: var(--main-font);
    background: var(--main-gradient1-color);
    text-shadow: 0px 0px 4px rgba(178, 213, 237, 0.2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.btn-regular.secbtn::after{
    background-color: #311b53;
}
.input-field input:-webkit-autofill,
.input-field input:-webkit-autofill:hover{
    border-radius: 6px;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #433061 inset;
}
.input-field input,
.textarea-field textarea{
    color: white;
    font-weight: 400;
    caret-color: white;
    font-family: var(--second-font);
}
.input-field span,
.textarea-field span{
    border-radius: 6px;
}
.input-field::after,
.textarea-field::after{
    border: 1px solid var(--line-colr);
}
.input-field,
.textarea-field{
    background-color: transparent;
}
.btn-icon{
    color: white;
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
    height: 35px;
    background-color: transparent;
    border: none;
    font-family: var(--main-font);
    border-radius: var(--rounded4);
    font-size: 13px;
    gap: 6px;
    cursor: pointer;
    overflow: hidden;
}
.btn-icon div:first-child{
    pointer-events: none;
    transition: var(--trns-02) cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btn-icon:hover div:first-child{
    transform: translateX(-4px);
}
.modal-screen{
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: none;
    justify-content: center;
    background: transparent;
    /* opacity: 1; */
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-screen .modal-box{
    display: none;
    padding: 30px 0;
    box-sizing: border-box;
    width: var(--width-screen);
    height: fit-content;
    min-height: 100%;
}
.modal-screen .modal-box.active{
    display: block;
}
.modal-screen .modal-box .title{
    text-transform: uppercase;
}
.modal-screen.active{
    display: flex;
}
.text-info{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-family: var(--second-font);
    color: rgba(255, 255, 255, 0.4);
}
.text-info div:first-child{
    --i8-ratio: 18px;
}
.cardskills-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.card-skill{
    --bar: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr 20px;
    box-sizing: border-box;
    border: 2px solid var(--line-colr);
    border-radius: var(--rounded1);
    align-items: center;
    overflow: hidden;
}
.card-skill.beginner{
    --card-bar: rgb(99, 255, 151);
    --text-shadow: rgb(25, 202, 85);
}
.card-skill.intermediate{
    --card-bar: rgb(255, 208, 88);
    --text-shadow: rgb(254, 183, 3);
}
.card-skill.expert{
    --card-bar: rgb(253, 119, 255);
    --text-shadow: var(--txt);
}
.card-skill .header{
    padding: 0 14px;
}
.card-skill .header p{
    font-size: 13px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
    letter-spacing: 1px;
}
.card-skill .header p span{
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--card-bar);
    text-shadow: 0px 0px 8px var(--text-shadow);
}
.card-skill .main{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 14px;
}
.card-skill .progress-bar{
    display: none;
}
.card-skill.bar .progress-bar{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}
.card-skill.bar .progress-bar .bar span{
    font-size: 12px;
    color: white;
    position: absolute;
    text-align: center;
    width: 20px;
    height: 10px;
    right: -10px;
    bottom: 10px;
}
.card-skill.bar .progress-bar .bar{
    position: absolute;
    height: 3px;
    width: var(--bar);
    border-radius: 50px;
    box-shadow: 0px 0px 6px var(--card-bar);
    background-color: var(--card-bar);
    animation: bar var(--trns-09) both;
    animation-delay: var(--trns-0);
}
.card-skill .main .logo img{
    width: 64px;
    height: 64px;
}
.card-skill .main .detail{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
}
.card-skill .main .detail h2{
    color: white;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.6px;
}
.card-skill .main .detail p{
    font-family: var(--third-font);
    font-size: 18px;
    white-space: break-spaces;
}

@keyframes bar{
    0%{
        width: 0%;
    }
    100%{
        width: var(--bar);
    }
}

#section1 .blob{
    width: 340px;
    height: 390px;
    background-color: #f03ef00f;
    background-image: url('../../img/avatars/me.webp');
    filter: drop-shadow(0px 0px 10px #a04cff30);
    background-position: center;
    background-size: 104%;
    background-repeat: no-repeat;
    /* border-radius: 52% 60% 40% 70% / 40% 62% 66% 58%; */
    border: 3px solid #ff4cff;
    box-shadow: 0px 4px 30px -10px #D227D3, inset 0px 5px 30px -10px #D227D3;
    animation: blob 10s infinite both cubic-bezier(0.68, -0.35, 0.265, 1.55);
}
@keyframes blob{
    0%{
        border-radius: 42% 66% 72% 28% / 42% 42% 56% 58%;
    }
    25%{
        border-radius: 52% 66% 42% 68% / 52% 62% 76% 78%;
    }
    50%{
        border-radius: 62% 76% 52% 78% / 62% 42% 76% 68%;
    }
    75%{
        border-radius: 52% 60% 40% 70% / 60% 62% 66% 58%;
    }
    100%{
        border-radius: 42% 66% 72% 28% / 42% 42% 56% 58%;
    }
}
#section2 .blob{
    width: 340px;
    height: 420px;
    position: relative;
    background-color: transparent;
    background-image: url('../../img/avatars/me5.webp');
    background-position: bottom;
    background-blend-mode: luminosity;
    background-size: 104%;
    opacity: 0.8;
    background-repeat: no-repeat;
    /* overflow: hiddens; */
    border-radius: 42% 66% 72% 28% / 42% 42% 26% 58%;
}
#section2 .blob::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 220px;
    left: 70px;
    background-color: #D227D3;
    filter: blur(50px);
    opacity: 0.3;
    border-radius: 42% 66% 52% 28% / 42% 52% 26% 58%;
}
#section2 .blob::after{
    content: '';
    position: absolute;
    width: 300px;
    height: 120px;
    bottom: -20px;
    right: -20px;
    background-color: #5389D5;
    filter: blur(50px);
    opacity: 0.2;
    border-radius: 42% 66% 52% 28% / 42% 52% 26% 58%;
}

/* section2 */
#section2 .title,
#section3 .title,
#section4 .title{
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
}
#section2 .subtitle,
#section3 .subtitle,
#section4 .subtitle{
    color: white;
    font-size: 28px;
    font-weight: 600;
    margin: 20px 0;
}

#section2 .detail,
#section3 .detail,
#section4 .detail{
    color: white;
    font-family: var(--third-font);
    font-size: 18px;
    margin: 30px 0;
}
.right-arrow{
    width: 18px;
    height: 18px;
    background: var(--main-gradient1-color);
    -webkit-mask: url('../../icons8/fluent/system_filled/icons8_forward.ico');
    -webkit-mask-size: 100%;
    transition-delay: var(--trns-02);
    transition: var(--trns-02) cubic-bezier(0.075, 0.82, 0.165, 1);
}
.textlink{
    text-decoration: none;
}
.textlink:hover{
    filter: brightness(1.3);
}
.textlink:hover .icons8-filled{
    transform: translateX(4px);
}
.seemore{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    background: var(--main-gradient1-color);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.skills-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skill-list{
    --bar: 50%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    border: 2px solid var(--line-colr);
    border-radius: var(--rounded1);
    user-select: none;
    -moz-user-select: none;
    cursor: default;
    overflow: hidden;
    transition: var(--trns-02) cubic-bezier(0.075, 0.82, 0.165, 1);
}
.skill-list.html5{
    --text-col: rgb(255, 200, 111);
    --text-glow: rgb(239, 149, 1);
}
.skill-list.css3{
    --text-col: rgb(132, 206, 255);
    --text-glow: rgb(30, 152, 236);
}
.skill-list.javascript{
    --text-col: rgb(255, 239, 121);
    --text-glow: rgb(247, 223, 30);
}
.skill-list.nodejs{
    --text-col: rgb(73, 218, 153);
    --text-glow: rgb(39, 170, 111);
}
.skill-list.expressjs{
    --text-col: rgb(169, 171, 172);
    --text-glow: rgb(110, 114, 118);
}
.skill-list.mysql{
    --text-col: rgb(9, 207, 213);
    --text-glow: rgb(4, 132, 137);

    --span-col: rgb(255, 183, 82);
    --span-glow: rgb(227, 136, 5);
}
.skill-list:hover{
    scale: 1.05;
}
.skill-list:hover .skill-icon{
    transition: var(--trns-02) cubic-bezier(0.075, 0.82, 0.165, 1);
}
.skill-list:hover h2{
    scale: 1.05;
    color: var(--text-col);
    text-shadow: 0px 0px 8px  var(--text-glow);
    translate: -3px -.5px;
}
.skill-list:hover h2 span{
    color: var(--span-col);
    text-shadow: 0px 0px 8px  var(--span-glow);
}
.skill-list:hover .skill-icon{
    translate: -4px -.5px;
    scale: 1.1;
}
.skill-list .skill-detail{
    gap: 16px;
    padding: 14px 10px;
    display: flex;
    align-items: center;
}

.skill-list .skill-icon img{
    width: 64px;
    height: 64px;
}
.skill-list .progress-bar{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}
.skill-list .progress-bar .bar span{
    font-size: 12px;
    color: white;
    position: absolute;
    text-align: center;
    width: 20px;
    height: 10px;
    right: -10px;
    bottom: 10px;
}
.skill-list .progress-bar .bar{
    position: absolute;
    height: 3px;
    width: var(--bar);
    border-radius: 50px;
    box-shadow: 0px 0px 6px rgb(236, 107, 239);
    background-color: rgb(236, 107, 239);
    animation: bar var(--trns-09) both;
    animation-delay: var(--trns-0);
}
@keyframes lightanim{
    0%{
        filter: blur(1px);
    }
    40%{
        filter: blur(5px);
    }
    50%{
        filter: blur(5px);
    }
    100%{
        filter: blur(1px);
    }
}
.skill-list h2{
    color: white;
    font-weight: 500;
    letter-spacing: 0.6px;
}
.skill-list p{
    font-family: var(--third-font);
    font-size: 18px;
    white-space: break-spaces;
}

/* #section1 .box-1-1, */
#section1 .box-1,
#section2 .box-1,
#section3 .box-1,
#section4 .box-1,
#section5 .box-1{
    /* border: 1px solid; */
    transform: perspective(500px) rotate3d(-10, -20, 0, -10deg);
}
header .box-1{
    /* border: 1px solid; */
    transform: perspective(200px) rotate3d(10, -20, 0, -10deg);
}
header .box-2{
    /* border: 1px solid; */
    transform: perspective(200px) rotate3d(10, -20, 0, 10deg);
}
#section1 .box-2,
#section2 .box-2,
#section3 .box-2,
#section4 .box-2,
#section5 .box-2{
    /* border: 1px solid; */
    transform: perspective(500px) rotate3d(10,-20, 0, 10deg);
}

#section4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    gap: 30px;
}

#section4 .box{
    height: 280px;
}

.card-project{
    min-height: 250px;
    height: 280px;
    border: 2px solid var(--line-colr);
    border-radius: var(--rounded1);
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    transition: var(--trns-02) cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 11;
}
.card-project:hover{
    scale: 1.02;
}
.card-project .site-bg{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: var(--trns-04) cubic-bezier(0.075, 0.82, 0.165, 1);
}
.techno{
    color: white;
    transform: translateY(250px) scaleY(0.4);
    transition: var(--trns-03);
}
.techno h3{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    font-family: var(--second-font);
    font-weight: 500;
}
.techno-icon{
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 6px;
    background-color: rgba(51, 51, 51, 0.5);
    border: 1px solid var(--line-colr);
    border-radius: 4px;
    padding: 2px 6px;
}
.techno-icon h3{
    color: white;
}
.techno-icon img{
    width: 18px;
}
.card-project .detail-project{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    bottom: 0;
    padding: 0px 40px 40px 40px;
    gap: 8px;
    transition: var(--trns-04) cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card-project span{
    transform: translateY(250px) scaleY(0.4);
    transition: var(--trns-03);
}
.card-project .detail-project h2{
    font-size: 20px;
    font-weight: 700;
    background: var(--main-gradient3-color);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transform: translateY(250px) scaleY(0.4);
    width: fit-content;
    transition: var(--trns-03);
}
#viewallproject .card-project .detail-project p{
    font-size: 17px;
}
.card-project .detail-project p{
    color: white;
    font-size: 22px;
    transform: translateY(250px) scaleY(0.4);
    font-family: var(--third-font);
    transition: var(--trns-03);
}

.card-project:hover .site-bg{
    transform: scale(1.2);
    filter: brightness(0.4);
}
.card-project:hover h2{
    transform: translateY(0px) scaleY(1);
    transition: var(--trns-03);
}
.card-project:hover p{
    transform: translateY(0px) scaleY(1);
    transition: var(--trns-04);
}
.card-project:hover .techno{
    transform: translateY(0px) scaleY(1);
    transition: var(--trns-04);
    transition-delay: .1s;
}
.card-project:hover span{
    transform: translateY(0px) scaleY(1);
    transition: var(--trns-04);
    transition-delay: .05s;
}
.cardbox-project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#section5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10px;
}

#section5 h2{
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: var(--third-font);
    background: var(--main-gradient1-color);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: fit-content;
}

#section5 p{
    font-family: var(--third-font);
    font-size: 68px;
    line-height: 72px;
}

#section5 .card-form{
    padding: 30px 20px;
    border-radius: var(--rounded2);
    background-color: transparent;
    border: 2px solid var(--line-colr);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}

body.container-spa4 nav{
    position: fixed;
    bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 10px 12px;
    background-color: rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(24px);
    border-radius: 100px;
    transform: perspective(200px) rotateX(10deg);
    box-shadow: var(--box-shadow-2), var(--neumorphism3);
    overflow: hidden;
    z-index: 999;
    transition: var(--trns-04) cubic-bezier(0.68, -0.35, 0.265, 1.35);
}
body.container-spa4 nav.hide{
    bottom: -20px;
    transform: scale(1.2);
    opacity: 0;
    pointer-events: none;
    /* transition: var; */
}
body.container-spa4 nav ul{
    --list-ratio: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    gap: 10px;
}

body.container-spa4 nav ul li{
    list-style: none;
    width: var(--list-ratio);
    height: var(--list-ratio);
    border-radius: 50%;
    /* overflow: hidden; */
    /* cursor: pointer; */
    z-index: 1;
}
/* body.container-spa4 nav .point-nav{
    position: absolute;
    display: block;
    width: var(--list-ratio);
    height: var(--list-ratio);
    border-radius: 50%;
    background: var(--main-gradient1-color);
    box-shadow: 0px 0px 30px -8px rgb(232, 127, 234),inset 0px 0px 40px -35px rgb(232, 127, 234);
    transition: var(--trns-04) cubic-bezier(0.68, -0.15, 0.265, 1.35);
} */

body.container-spa4 nav ul .point-nav{
    list-style: none;
    position: absolute;
    display: block;
    box-sizing: border-box;
    border-top: 1px solid rgba(235, 146, 255, .9);
    width: var(--list-ratio);
    height: var(--list-ratio);
    border-radius: 50%;
    background: var(--main-gradient1-color);
    /* box-shadow: 0px 0px 30px -8px rgb(232, 127, 234),inset 0px 0px 40px -35px rgb(232, 127, 234); */
    transition: var(--trns-04) cubic-bezier(0.68, -0.15, 0.265, 1.35);
}
body.container-spa4 nav ul .point-nav::after{
    content: '';
    list-style: none;
    position: absolute;
    display: block;
    width: var(--list-ratio);
    height: var(--list-ratio);
    border-radius: 50%;
    background: var(--main-gradient1-color);
    filter: blur(20px);
    opacity: .8;
    /* box-shadow: 0px 0px 30px -8px rgb(232, 127, 234),inset 0px 0px 40px -35px rgb(232, 127, 234); */
    transition: var(--trns-04) cubic-bezier(0.68, -0.15, 0.265, 1.35);
}

body.container-spa4 nav ul li a{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
}
body.container-spa4 nav ul li a span{
    filter: blur(8px);
    border-radius: 50%;
    background: var(--main-gradient1-color);
    opacity: .2;
    width: 16px;
    height: 16px;
    display: block;
    pointer-events: none;
    position: absolute;
}
body.container-spa4 nav ul li a div:first-child{
    pointer-events: none;
    --ratio: 18px;
    /* background: var(--main-gradient2-color); */
    transition: var(--trns-02);
    z-index: 2;
}
body.container-spa4 nav ul li.active a div:first-child{
    filter: brightness(9);
    transform: scale(1.1);
}
.modal-box#aboutme p{
    white-space: break-spaces;
    color: white;
    font-family: var(--third-font);
    font-size: 18px;
}
footer{
    position: absolute;
    bottom: 0;
    background-color: transparent;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    display: flex;
    gap: 5px;
    padding: 0 10px;
    font-size: 14px;
    color: var(--disabled-color1);
}
footer .link{
    display: flex;
    gap: 5px;
    color: var(--disabled-color1);
    text-decoration: none;
}
footer .link span{
    width: fit-content;
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    justify-content: center;
    position: relative;
    transition: var(--trns-02);
}
footer .link span::before{
    content: '';
    position: absolute;
    width: calc(100% - 10px);
    bottom: -2px;
    border-bottom: 1px solid rgb(136, 236, 159);
    opacity: 0;
    box-shadow: 0px -4px 10px rgb(31, 177, 65);
    transition: var(--trns-02) cubic-bezier(0.075, 0.82, 0.165, 1);
}
footer .link:hover span{
    color: rgb(74, 220, 108);
}
footer .link:hover span::before{
    bottom: -4px;
    opacity: 1;
}
.slidecard{
    animation: slidecard var(--trns-04) cubic-bezier(0.075, 0.82, 0.165, 1) both;
}
.slidecard.del-1{
    animation-delay: .2s;
}
.slidecard.del-2{
    animation-delay: .25s;
}
.slidecard.del-3{
    animation-delay: .3s;
}
.slidecard.del-4{
    animation-delay: .35s;
}
.slidecard.del-5{
    animation-delay: .4s;
}
.slidecard.del-6{
    animation-delay: .45s;
}
.slidecard.del-7{
    animation-delay: .5s;
}
.slidecard.del-8{
    animation-delay: .55s;
}
@keyframes slidecard {
    0%{
        transform: translateY(140px) scaleY(1.4);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
    }
}
@media (max-width: 1044px){
    body.container-spa4 section{
        overflow: hidden;
    }
}
@media (max-width: 850px){
    #section1 .blob{
        width: 280px;
        height: 330px;
    }
    #section1 h1{
        font-size: 52px;
    }
    #section1 .iam,
    #section1 .work{
        font-size: 38px;
    }
}
@media (max-width: 750px){
    .cardbox-project{
        grid-template-columns: 1fr;
    }
    .card-project .detail-project h2{
        font-size: 18px;
    }
    .card-project .detail-project p{
        font-size: 20px;
    }
    .card-project .detail-project{
        padding: 0px 20px 20px 20px;
    }
    .card-project{
        width: 100%;
        height: 100%;
        aspect-ratio: 2 / 1;
    }
}
@media (max-width: 650px){
    ::-webkit-scrollbar{
        --ratio-scrollbar: 0px;
    }
    
    ::-webkit-scrollbar-thumb{
        border: 4px solid #433061;
        background: var(--main-gradient2-color);
        border-radius: var(--rounded3);
    }
    body.container-spa4{
        --width-screen: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        min-height: 100vh;
        overflow-x: hidden;
    }

    body.container-spa4 section{
        min-height: 100vh;
        box-sizing: border-box;
        padding: 50px 16px;
        gap: 10px;
    }

    body.container-spa4 header{
        height: 100px;
    }
    body.container-spa4 header .header-container{
        padding: 0 16px;
    }
    body.container-spa4 .alert-message,
    body.container-spa4 .alert-confirm{
        min-width: 300px;
        max-width: 300px;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        padding: 20px 26px;
        gap: 10px;
    }
    .text-logo{
        display: flex;
        font-size: 26px;
        flex-direction: column;
    }
    #section1{
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
    }
    #section1 .box1-1{
        align-items: center;
        text-align: center;
    }
    #section1 .box1-1 h1{
        font-size: 42px;
    }
    #section1 .box1-1 .iam,
    #section1 .box1-1 .work{
        font-size: 36px;
    }
    #section1 .box1-1 .detail{
        font-size: 16px;
        line-height: 32px;
    }
    #section1 .pict{
        display: none;
    }

    #section2{
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
    #section2 .box2-2{
        justify-content: flex-start;
    }
    #section2 .pict{
        height: fit-content;
    }
    #section2 .blob{
        width: 280px;
        height: 340px;
    }
    #section2 .blob::before{
        width: 80px;
        height: 180px;
    }
    #section2 .blob::after{
        width: 260px;
        height: 90px;
    }
    
    #section3{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap: 40px;
    }

    #section4{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 280px repeat(auto-fit, auto);
        align-content: center;
        gap: 30px;
    }

    #section5{
        display: grid;
        box-sizing: border-box;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        align-content: flex-start;
        gap: 30px;
    }
    #section5 .box-5-1{
        justify-content: flex-start;
    }
    #section5 .box-5-1 p{
        font-size: 48px;
        line-height: 48px;
    }
    #section5 .box-5-2{
        justify-content: center;
    }
    #section5 .card-form{
        max-width: 450px;
        margin-bottom: 60px;
        width: 100%;
        background-color: transparent;
        border: 2px solid var(--line-colr);
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 20px;
        z-index: 1;
    }
    #section5 .card-form .input-field,
    #section5 .card-form .textarea-field{
        width: auto;
    }

    body.container-spa4 nav{
        bottom: -10px;
        padding: 10px 12px;
        padding-bottom: 20px;
        border-top-left-radius: 36px;
        border-top-right-radius: 36px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        width: fit-content;
    }

    .modal-screen .modal-box .cardskills-box{
        grid-template-columns: 1fr;
    }

    .modal-screen{
        padding: 20px;
    }
    .modal-screen .modal-box{
        padding: 0;
    }
    footer{
        position: absolute;
        bottom: 0;
        background-color: transparent;
        width: 100%;
        height: 95px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        gap: 5px;
        padding: 0 10px;
        font-size: 14px;
        color: var(--disabled-color1);
    }
    footer .link{
        display: flex;
        gap: 5px;
        color: var(--disabled-color1);
        text-decoration: none;
    }
    footer .link span{
        width: fit-content;
        height: fit-content;
        font-family: Montserrat;
        text-transform: uppercase;
        font-weight: 600;
        display: flex;
        justify-content: center;
        position: relative;
        transition: var(--trns-02);
    }
}
@media (max-width: 500px){
    .card-skill .main .detail h2{
        font-size: 18px;
    }
    .card-skill .main .detail p{
        font-size: 14px;
    }
    .card-skill .progress-bar .bar span{
        font-size: 11px;
    }
    #viewallproject .card-project .detail-project p{
        font-size: 14px;
    }
}